<app-page-header [heading]="'Author List'" [icon]="'fa-desktop'"></app-page-header>
<div class="content-wrapper">
  <div class="pull-right">
    <button type="button" class="btn btn-primary" (click)="openModal(authorModal)">{{ 'New Author' | translate }}</button>
  </div>
  <div >
    <ngx-datatable
      class="material striped"
      [rows]="data"
      [columns]="columns"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="50">
    </ngx-datatable>
  </div>

  <ng-template #authorModal >
    <div class="modal-header">
      <h4 class="modal-title w-100">{{ 'Author Detail' | translate }}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="closeAndResetModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <form [formGroup]="form" (ngSubmit)="saveAuthor()">
        <div class="form-group">
          <label>First Name</label>
          <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': f.firstName.errors }" />
          <div *ngIf="f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': f.lastName.errors }" />
          <div *ngIf="f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
          </div>
        </div>

        <div class="modal-footer" >
          <button class="btn btn-light" (click)="closeAndResetModal()">{{ 'Close' | translate }}</button>
          <button class="btn btn-primary" >{{ 'Save' | translate }}</button>
        </div>
      </form>
    </div>
  </ng-template>

</div>

